#menu-icon {
        position: relative;
        width: 54px;
        height: 54px;

        border-radius: 50%;
        box-sizing: unset;

        transition: 1.5s;
    }

#menu-icon span.trait {
        position: absolute;
        top: 50%;
        left: 35%;

        display: block;
        width: 22px;
        height: 2px;

        background-color: black;
        transform: translateX(-50%) translateY(-50%);

        transition: 1.5s;
    }

span.trait::before, span.trait::after {
        content:'';

        position: absolute;
        top: 0;
        left: 0;

        width: 22px;
        height: 2px;

        transform: translateY(-6px);
        transition: 1.5s;

        background-color: black;
    }

span.trait::after {
        transform: translateY(6px);
        transition: 1.5s;
    }

#menu-icon span.trait::before, #menu-icon span.trait::after {
        transform-origin: 0% 50%;
        transition: 1.5s;
    }

.change #menu-icon {
        transform: rotate(270deg);
        transition: 1.5s;
    }

#menu-icon svg {
        fill: transparent;
        stroke-width: 1px;
        stroke: black;
        stroke-dasharray: 180;
        stroke-dashoffset: 180;
        transition: 1.5s;
    }

.change #menu-icon svg {
        transform: rotate(-270deg);
        stroke-dashoffset: 0;
        transition: 1.5s;
    }
    
.change #menu-icon span.trait::before {
        width: 65%;
        transform: translateY(0) rotate(-45deg);
        transition: 1.5s;
    }

.change #menu-icon span.trait::after {
        width: 65%;
        transform: translateY(0) rotate(45deg);
        transition: 1.5s;
    }