@font-face {
    font-family: "AvenirLight";
    src: url("../fonts/avenir-lt-std-35-light.otf");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("../fonts/FontsFree-Net-AvenirLTStd-Heavy.ttf");
}