/* Page 2 */

section#page2 {
    background-image: url(../img/Rosace1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    display: flex;
    justify-content: center;
}

section#page2 div.block2 {
    display: flex;
    flex-direction: column;
    color: white;

    width: 90vw;

    text-align: center;
    justify-content: center;
    align-items: center;
}

section#page2 div.block2 div.text2 h3 {
    font-size: 5rem;
    margin-bottom: 3vh;
    font-weight: bold;
    font-family: "AnticDidone";
}

section#page2 div.block2 div.text2 p {
    font-size: 3rem;
    font-family: "AvenirLight";
}

@media screen and (min-width: 768px) {

    section#page2 {
        justify-content: flex-end;
    }

    section#page2 div.block2 {
        display: flex;
        flex-direction: column;
        color: white;

        right: 0vw;

        height: 100vh;

        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    section#page2 div.block2 div.text2 {
        width: 43vw;
    }

    section#page2 div.block2 div.text2 h3 {
        font-size: 5rem;
        margin-bottom: 3vh;
        font-weight: bold;
    }
}