/* Variable */
:root {
    --couleur-bg: rgb(191, 150, 75);
    --couleur-nav: rgb(115, 108, 77);
}

/* Page 1 */

header {
    background-image: url("../img/BackGroundPart1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        position: relative;
        color: white;

        top: 60vh;
        left: 5vw;

        height: 25vh;
        width: 40vw;

        font-size: 10vh;
    }


    header p.bouton1 {
        display: flex;
        position: absolute;
        color: white;
        background-color: var(--couleur-bg);

        top: 72vh; 
        left: 79vw;

        height: 9vh;
        width: 13vw;
        font-size: 3.5vh;

        text-align: center;
        justify-content: center;
        align-items: center;   
    }

    header p.bouton1:hover {
        cursor: pointer;
    }
}