/* Page 5 */

section#page5 {
    background-image: url(../img/Rosace2.png);
    background-repeat: no-repeat;
    background-size: cover 60%;
    background-position: right;

    display: flex;
    justify-content: flex-start;
}

section#page5 h3.titre5 {
    font-family: "AnticDidone";
}

section#page5 p.text5 {
    font-family: "AvenirLight";
}

section#page5 div.code5 {
    font-family: "AvenirLight";
    font-weight: bold;
}

section#page5 div.block5 {
    display: flex;
    width: 100vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

section#page5 h3.titre5 {
    font-size: 6rem;
}

section#page5 p.text5 {
    font-size: 2rem;
    padding-bottom: 5vh;
}

section#page5 div.code5 {
    display: flex;
    width: 70vw;
    height: 25vh;

    font-size: 15rem;
    color: var(--couleur-nav);
    background-color: white;
    border-radius: 5%;

    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    section#page5 div.block5 {
        display: flex;
        width: 70vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
    }

    section#page5 div.blocktext5 {
        display:flex;
        width: 50vw;
        padding-bottom: 10vh;

        flex-direction: column;
    }

    section#page5 h3.titre5 {
        font-size: 8rem;
    }

    section#page5 p.text5 {
        font-size: 3rem;
    }

    section#page5 div.code5 {
        display: flex;
        width: 50vw;
        height: 25vh;

        font-size: 15rem;
        color: var(--couleur-nav);
        background-color: white;
        border-radius: 5%;

        justify-content: center;
        align-items: center;
    }
}