/* Page 8 */

section#page8 {
    display: flex;

    background-image: url(../img/BackGroundPart8.png);
    background-size: cover;
    background-position: 65% 50%;

    align-items: flex-end;
}

section#page8 div.block8 h3 {
    font-family: "AvenirBook";
    font-weight: bold;
}

section#page8 div.block8 div {
    font-family: "AvenirLight";
}

section#page8 div.block8 {
    display: flex;
    width: 100vw;
    height: 30vh;

    color: white;
    background-color: var(--couleur-nav); 
    opacity: 0.7;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section#page8 div.block8 div, section#page8 div.block8 h3 {
    padding-top: 3vh;
    padding-bottom: 1vh;
}

section#page8 div.block8 h3 {
    font-size: 5rem;
}

section#page8 div.block8 div {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    section#page8 div.block8 {
        width: 35vw;
        height: 100vh;
    }

    section#page8 div.block8 div, section#page8 div.block8 h3 {
        padding-top: 3vh;
        padding-bottom: 2vh;
    }

    section#page8 div.block8 h3 {
        font-size: 5rem;
        padding-bottom: 8vh;
    }

    section#page8 div.block8 div {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    section#page8 div.block8 h3 {
        font-size: 6.5rem;
    }
}