/* Page 9 */


footer div.bg9 {
    width: 100vw;
    height: 10vh;

    background-color: var(--couleur-nav);
}

footer div.block9 div.blocktext9 h3 {
    font-family: "AvenirBook";
}

footer div.block9 div.blocktext9 div.text9 {
    font-family: "AvenirLight";
}

footer div.block9 div.blocktext9 div li {
    font-family: "AvenirLight";
}

footer div.block9 {
    display: flex;
    width: 100vw;
    height: 80vh;

    text-align: center;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

footer div.block9 div.blocktext9 {
    display: flex;
    width: 80vw;

    color: white;

    flex-direction: column;
    justify-content: space-around;      
}

footer div.block9 div.blocktext9 h3 {
    font-size: 4rem;

    padding-top: 5vh;
    padding-bottom: 1vh;
}

footer div.block9 div.blocktext9 div.text9 {
    font-size: 2.5rem;
    padding-bottom: 3vh;
}

footer div.block9 div.blocktext9 div ul {
    padding-bottom: 2vh;
}

footer div.block9 div.blocktext9 div li {
    display: inline;
    font-size: 2.5rem;
    padding-right: 2vw;
}

footer div.block9 div.icon {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 80vw;
}

footer div.block9 div.icon img {
    display: flex;
    width: 12%;

    padding-left: 1vw;
    padding-right: 1vw;
}


@media screen and (min-width: 768px) {
    footer div.block9 div.blocktext9 {
        flex-direction: row;    
    }

    footer div.block9 div.blocktext9 h3 {
        font-size: 4vh;

        padding-bottom: 5vh;
    }

    footer div.block9 div.blocktext9 div.text9 {
        width: 40vw;
        font-size: 3vh;
        text-align: justify;
    }

    footer div.block9 div.blocktext9 div li {
        display: block;
        font-size: 2.5vh;
        padding-bottom: 0.5vh;
    }

    footer div.block9 div.blocktext9 div ul {
        padding-right: 2vw;
    }

    footer div.block9 div.blocklist9 {
        display: flex;
    }
}