/* Commun et variable */

:root {
    --couleur-bg: rgb(191, 150, 75);
    --couleur-nav: rgb(115, 108, 77);
}

html {
    font-size: 62.5%;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-bg);
}

header, section, footer {
    min-height: 100vh;
    overflow: hidden;
}

/* Barre de navigation */

nav {
    position: fixed;
    z-index: 9;
    font-family: "AvenirBook";
}

nav ul {
    list-style-type: none;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-nav);
    width: 100vw;
    height: 15vh;
}

nav #nav-img{
    padding-left: 30vw;
    height: 40vw;
}

#menu-icon {
    padding-right: 5vw;
}

@media screen and (max-width: 767px) {

    nav.change ul {
        position: absolute;
        display: flex;

        width: 100vw;
        height: 10vh;

        background-color: var(--couleur-nav);
        top: 14vh;

        justify-content: center;
        align-items: center;
    }

    nav.change li a {
        text-decoration: none;
        color: white;

        padding: 0 2vw;

        font-size: 2em;
    }
}

@media screen and (min-width: 768px) {

    #menu-icon {
        display: none;
    }

    nav li {
        list-style-type: none;
    }

    nav ul {
        display: flex;
        padding-right: 2vw;
    }

    nav li a {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0 3vw;
        font-size: 2.5rem;
    }

    nav #nav-img {
        padding-left: 2vw;
        height: 15vw;
    }
}