/* Commun et variable */

:root {
    --couleur-bg: rgb(191, 150, 75);
    --couleur-nav: rgb(115, 108, 77);
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-bg);
}

header, section, footer {
    min-height: 100vh;
    border: solid black;
}

/* Barre de navigation */

nav {
    position: fixed;
    z-index: 9;
}

nav ul {
    list-style-type: none;
}

@media screen and (min-width: 768px) {

    #menu-icon {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--couleur-nav);
        width: 100vw;
    }

    nav li {
        list-style-type: none;
    }
    

    nav #nav-img{
        padding-left: 3%;
        height: 15vh;
    }

    nav ul {
        display: flex;
        
    }

    nav li a {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0 3vw;
        font-size: 22pt;
    }
}